form {
  background-color: #fff;
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
  text-align: left;
  min-width: 500px;
  border: 1px solid black;
}
form input {
  margin-bottom: 15px;
  line-height: 30px;
}

label {
  font-size: 25px;
  font-weight: bold;
}
button {
  background-color: lightgreen;
  font-size: 24px;
  padding: 10px 20px;
  border: 0;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  cursor: pointer;
}
button:hover {
  background-color: green;
}

.resultMessage {
  background-color: orange;
  padding: 10px 20px;
}
