nav {
  display: flex;
  justify-content: space-between;
  /* background-color: #002333;
  background-color: #28b487; */
  padding: 10px 50px;
  color: #fff;
  color: #333c;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
}
nav a {
  text-decoration: none;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333c;
}
